In [45]:
li=["gitam",123,124]
print(li)
print(li[1])
print(li[2:])
print(li[2:4])
print(li[-1])
print(li[-4:-1])
print(li[::-1])
print(li[-1::-1])

['gitam', 123, 124]
123
[124]
[124]
124
['gitam', 123]
[124, 123, 'gitam']
[124, 123, 'gitam']

In [2]:
li[0]="kalyan"
print(li)

['kalyan', 123, 124]

del li[2]
print(li)

In [4]:
print(len(li))

2

In [6]:
print(li*2)
print(5 in li)
print(123 in li)

['kalyan', 123, 'kalyan', 123]
False
True

# basic list functions

In [12]:
li=[1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li))

5
1
15
3.0

In [18]:
li=[1,2,3,4,5]
li.append(6)
li.insert(7,7)
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
li=[1,222,44,67,12,3]
li.sort()
print(li)
li.pop()
print(li)
li.pop(2)
print(li)

[1, 3, 12, 44, 67, 222]
[1, 3, 12, 44, 67]
[1, 3, 44, 67]

In [23]:
#function to return large numbers from list
def large(li):
    li.sort()
    return li[-1]
large(li)

67

In [25]:
def genericlarge(li,n):
    li=[23,12,14,100,4,333,66]
    li.sort()
    return li[-n]
genericlarge(li,3)

66

In [28]:
def small(li):
    li=[23,12,14,100,4,333,66]
    li.sort()
    return li[0]
small(li)

4

In [41]:
def genericsmall(li,n):
    li.sort()
    print(li)
    return li[n-1]
genericsmall(li,2)

[1, 3, 44, 67]

3

# Tuples

- values seperated by comma enclosed by parenthesis()
- values can't be changed i.e immutable
# Difference b/w list and tuple

- list can be modified
- list used to access means modify,add,delete,update
- tuple cant be modified
- used to access data only

In [42]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Dictionaries:
- works on concept of set unique data
- dictionarycontains keys and values
- each key is separated from its values with colons ' : '
- each key and values seperated by comma , 
- dictionary enclosed by { }

In [46]:
d1={"name":"kalyan","email":"kalyan@gmail.com","address":"adoni"}
d1

{'name': 'kalyan', 'email': 'kalyan@gmail.com', 'address': 'adoni'}

In [48]:
d1["name"]
d1={"name":"kalyan","email":"kalyan@gmail.com","address":"adoni"}
d1["email"]="shiva@gmail.com"
d1

{'name': 'kalyan', 'email': 'shiva@gmail.com', 'address': 'adoni'}

d1["course"]="python"
d1

In [50]:
del d1["email"]
d1

{'name': 'kalyan', 'address': 'adoni', 'course': 'python'}

In [51]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [52]:
d1.items()

dict_items([('name', 'kalyan'), ('address', 'adoni'), ('course', 'python')])

In [53]:
d1.values()

dict_values(['kalyan', 'adoni', 'python'])

# strings

In [54]:
s1="kalyan"
print(s1)
print(type(s1))

kalyan
<class 'str'>

In [58]:

print(s1[0])
print(s1[5])
print(s1[1:4])
print(s1[::-1])
print(s1[2:])
print(s1[-1::-1])

k
n
aly
naylak
lyan
naylak

In [59]:
print(s1[len(s1)//2])
print(s1[0:6:3])

y
ky

In [61]:
def revofstring(str):
    rev=0
    rev=str[::-1]
    return rev
revofstring("wear")

'raew'

In [65]:
def revofstring(str):
    x=str
    rev=0
    rev=str[::-1]
    if x==rev:
        print("palin")
    else:
        print("not palin")
    return rev
revofstring("dad")

palin

'dad'

# String bulid-in methods
- upper() 
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [72]:
s1="Kalyan"
s2=" "
print(s1.upper())
print(s1.lower())
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s2.isspace())

KALYAN
kalyan
False
False
True
False
True
True

# string methods
- join()
- split()
- replace()

In [75]:
s2="kalyan is a topper"
print(" , ".join(s2))

k , a , l , y , a , n ,   , i , s ,   , a ,   , t , o , p , p , e , r

In [76]:
print(s2.split())

['kalyan', 'is', 'a', 'topper']

In [78]:
print(s2.split('a'))

['k', 'ly', 'n is ', ' topper']

In [81]:
li=list(s1)
print(li)
li

['K', 'a', 'l', 'y', 'a', 'n']

['K', 'a', 'l', 'y', 'a', 'n']

In [85]:
print(s2.replace(" a"," one and only"))

kalyan is one and only topper

In [119]:
m={'peter':[80,85,90],'joe':[86,90,95]}
s1=m["peter"]
print(s1)
print(s1[1])
s2=m["joe"]
print(s2[1])
print(s2[::1])

[80, 85, 90]
85
90
[86, 90, 95]